.parent {
  position: relative;
  top: 0;
  left: 0;
}

.image1 {
  position: relative;

}
.image2 {
  position: absolute;
  bottom: -60px;
  right: -8px;
  width: 70%;
}

.flex-container{
  display:flex;
  margin-top: 32px;
  padding: 42px 0;
}

.about-text{
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 32px;
  padding: 8px;
}


.img-square{
  width: 320px;
  height: 320px;
  margin-right: 24px;
  border-radius: 3%;
}
