h2{
  text-align: center;
  font-size: 60px;
}
.main-container a{
  color: brown;
  background-color: #fff1e6;
  &:hover{
    text-decoration: line-through;
    color: brown;
    background-color: #fff1e6;
  }
}

.fullscreen{
  text-align: center;
  align-items: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -50px;
  background-color: #fff1e6;
}
