.contact-container{
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: $beige;
  padding: 32px;
  h1{
    color: $blue;
    margin-bottom: 0;
  }
  h2{
    font-style: italic;
    color: $blue;
    margin-bottom: 24px;
  }
  a{
    background-color: transparent;
    font-size: 24px;
    color: $blue;
    &:hover{
      color: $orange;
    }
  }
}
.col-sm{
  padding: 0;
}

@media (max-width: 960px) {
  .contact-container{
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: $beige;
    padding: 24px;
    h1{
      font-size: 32px;
    }
    h2{
      font-size: 24px;
    }
    a{
      font-size: 16px;
      margin: 16px;
    }
  }
}
@media (max-width: 720px) {
  .contact-container{
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: $beige;
    padding: 24px;
    h1{
      font-size: 32px;
    }
    h2{
      font-size: 24px;
    }
    a{
      font-size: 16px;
      margin: 8px;
    }
  }
}
@media (max-width: 540px) {
  .contact-container{
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: $beige;
    padding: 24px;
    h1{
      font-size: 32px;
    }
    h2{
      font-size: 24px;
    }
    a{
      font-size: 16px;
      margin: 8px;
    }
  }
}
