// Import page-specific CSS files here.
@import "home";
@import "banner";
@import "about";
@import "project";

a {
  display: inline-block;
  background-color: white;
}

div#blue {
  background-color: blue;
}
div#red {
  background-color: red;
}
div#green {
  background-color: green;
}
div#yellow {
  background-color: yellow;
}
