.page{
  text-align: center;
  h1{
  margin-top: 46px;
  }
}

.project-container{
  text-align: center;
  align-items: center;
  padding: 8px;
  h1{
    margin: 16px 32px;
    font-size: xx-large;
    border-bottom: solid 1px ;
  }
  h2{
    margin: 0 32px;
    font-style: italic;
    font-size: medium;
  }
  p{
    margin: 24px 32px;
  }
  a{
    background-color: transparent;
    font-size: 32px;
    margin: 16px;
    &:hover{
      color: $orange;
    }
  }
}

.role-text{
  margin: 0;
}

.col a{
  font-size: 24px;
}

@media (max-width: 960px) {
  .col a{
    font-size: 20px;
  }
}
@media (max-width: 720px) {
  .col a{
    font-size: 20px;
  }
}
@media (max-width: 540px) {
  .col a{
    font-size: 20px;
  }
}
