<div class="sns-follow">
  <div class="text">
    <p>contact me ---   </p>
  </div>
  <a class="icons" href="saeshikiji@gmail.com" target="_blank"><i class="far fa-envelope"></i></a>
  <a class="icons" href="https://www.linkedin.com/in/sae-shikiji/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
  <a class="icons" href="https://github.com/Sae-S" target="_blank"><i class="fab fa-github"></i></a>
  <a class="icons" href="https://www.instagram.com/shikijisae/" target="_blank"><i class="fab fa-instagram"></i></a>
</div>
