<div class="fullscreen">
  <div class="main-container fade-in" id="banner">
    <ul>
      <li>
        <h1>A Bilingual<br>
          <a href="https://saeshikiji.myportfolio.com/work" target=_blank>
            Graphic Designer</a><br>
          and </h1>
      </li>
      <li>
        <h1><span id="animate"></span></h1>
      </li>
      <li>
        <h2>Honolulu, Hawaii   ---   Tokyo, Japan</h2>
      </li>
      <div class="cursor"></div>
    </ul>
  </div>
  <script>
    const cursor = document.querySelector('.cursor');
    document.addEventListener('mousemove', (e) => {
      cursor.style.left = e.clientX + 'px';
      cursor.style.top = e.clientY + 'px';
    })
  </script>
</div>
