<div class="fullscreen">
  <div class="main-container" id="banner">
    <h2>A Bilingual <a href="https://saeshikiji.myportfolio.com/work" target=_blank>Graphic Designer</a></h2>
    <h2>and Frontend Developer in Tokyo</h2>
  </div>
</div>
