<div class="contact-container" id="contact">
  <h1>Get in Touch</h1>
  <h2>saeshikiji@gmail.com</h2>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <a href="https://www.linkedin.com/in/sae-shikiji/" target="_blank">LinkedIn</a>
      </div>
      <div class="col-sm">
        <a href="https://www.instagram.com/shikijisae/" target="_blank">Instagram</a>
      </div>
      <div class="col-sm">
        <a href="https://saeshikiji.myportfolio.com/work" target="_blank">Design Portfolio</a>
      </div>
    </div>
  </div>
</div>
