<div class="page" id="projects">
  <h1>WEB APP PROJECTS</h1>
  <%# Project 1 %>
  <ul class="project-container">
    <h1>renRAKU</h1>
    <h2>PRIMARY ROLE: Project Manager<br>
      SECONDARY ROLE: Full-Stack Developer</h2>
    <p>renRAKU replaces 連絡帳(Renrakuchou), correspondence notebooks, often shared between teachers and parents in Japan.<br>
      It allows writing daily notes to parents/teachers, uploading of schedules, creation of school/class events,<br>
      posting grades for individual students, and scheduling of parent/teacher meetings.</p>
    <%= link_to (image_tag 'mockup_renraku.png', style: "width:50%"), "https://www.renrakuchou.com/", :target => "_blank" %>
    <div class="container">
      <div class="row">
        <div class="col"><a href="https://github.com/teslazonda/renRAKU" target="_blank">code</a></div>
        <div class="col"><a href="https://www.renrakuchou.com/" target="_blank">link</a></div>
      </div>
    </div>
  </ul>
  <%# Project 2 %>
  <ul class="project-container">
    <h1>Doppelganger Finder</h1>
    <h2>PRIMARY ROLE: Project Manager<br>
      SECONDARY ROLE: Full-Stack Developer</h2>
    <p>An Airbnb clone for renting celebrity look-a-likes.</p>
    <%= link_to (image_tag 'mockup.png', style: "width:50%"), "https://doppelganger-finder.herokuapp.com/", :target => "_blank" %>
    <div class="container">
      <div class="row">
        <div class="col"><a href="https://github.com/teslazonda/Doppelganger-Finder" target="_blank">code</a></div>
        <div class="col"><a href="https://doppelganger-finder.herokuapp.com/" target="_blank">link</a></div>
      </div>
    </div>
  </ul>
  <%# Project 3 %>
  <ul class="project-container">
    <h1>Movies Watch-List</h1>
    <h2>PRIMARY ROLE: Full-Stack Developer</h2>
    <p>You can organize your favorite movies in genre lists, add ratings, and add comments.</p>
    <%= link_to (image_tag 'mockup_movies.png', style: "width:50%"), "https://movie-watch-list-sae.herokuapp.com/", :target => "_blank" %>
    <div class="container">
      <div class="row">
        <div class="col"><a href="https://github.com/Sae-S/rails-watch-list" target="_blank">code</a></div>
        <div class="col"><a href="https://movie-watch-list-sae.herokuapp.com/" target="_blank">link</a></div>
      </div>
    </div>
  </ul>
</div>
