.carousel-container {
  overflow: hidden;
}

.sliding-background {
  background: url("..path/to/image") repeat-x;
  width: 5076px;
  animation: slide 20s linear infinite;
}

@keyframes slide{
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-1692px, 0, 0);
  }
}
