.navbar-lewagon {
  justify-content: space-between;
  background:#fff1e6;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
.navbar-lewagon a{
  background-color: #fff1e6;
  color: black;
  padding: 8px;
}
